---
import AboutHeroImage from '../assets/linuxveben.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Hakkımda"
	pubDate={new Date('March 22 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Finans dünyasının analitik derinliği ile teknolojinin hızını birleştiren bir profesyonel ve ömür boyu öğrenciyim.
		Eğitim hayatımı finans alanında sürdürürken, profesyonel odağımı finansal özgürlük stratejileri ve bu süreçlerin teknolojiyle optimize edilmesi üzerine kuruyorum.
		Dijital dönüşümün finans sektöründeki kritik rolünün farkında olarak, siber güvenlik alanına duyduğum merakla verinin güvenliği ve korunması konularında kendimi geliştiriyorum.
		Teknolojiyi sadece bir araç değil, hayatın her alanında verimliliği artıran bir kaldıraç olarak görüyorum.
		Disiplini hayatımın merkezinde tutmak için düzenli olarak spor yapıyor; hobi olarak ise amatör telsizcilik ile uğraşarak radyo frekanslarının ve global iletişimin teknik dünyasını keşfediyorum.
		Finansal okuryazarlık, dijital güvenlik ve sürdürülebilir bir yaşam vizyonuyla, geleceğin teknoloji odaklı finans dünyasında değer yaratmayı hedefliyorum.
	</p>

	<p>
		I am a dedicated professional and lifelong learner who bridges the analytical rigor of the financial world with the agility of technology.
		While pursuing my education in finance, I focus on developing financial freedom strategies and optimizing these processes through technological integration.
		Recognizing the critical role of digital transformation in the finance sector, I am constantly enhancing my expertise in data security and protection, driven by a deep interest in cybersecurity.
		For me, technology is more than just a tool; it is a catalyst for efficiency in every aspect of life.
		To maintain personal discipline, I regularly engage in sports, and as a hobby, I explore the technical world of radio frequencies and global communication through amateur radio.
		 With a vision centered on financial literacy, digital security, and sustainable living, I aim to create significant value in the technology-driven financial landscape of the future.
	</p>

	
</Layout>
