---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Merhaba Dünyalı</h1>
			<p>
				Zihnime Hoş Geldin! 🚀
			</p>
			<p>
				Dijital evrenin, finansal stratejilerin ve teknolojik merakın kesişim noktasındasın.

				Burası benim için sadece bir web sitesi değil; veriyi anlamlandırma, sistemleri güvenli kılma ve hayatın farklı frekanslarını keşfetme yolculuğumun dijital bir izdüşümü.

				Finansın analitik disipliniyle siber güvenliğin "tetikte" olma halini birleştiriyor, araya biraz kod, biraz radyo sinyali ve bolca merak katıyorum.
			</p>
			<p>🔍 Nelerle Karşılaşacaksın?</p>
			<ul>
				<li>Finans & Ekonomi:** Rakamların dilini çözüyoruz. Bilanço analizlerinden global piyasa dinamiklerine kadar, rasyonel ve veriye dayalı bir finansal özgürlük rehberi.</code></li>
				<li>**Yazılım & Teknoloji:** Kali Linux dünyasından pratikler, iş akışımı kolaylaştıran scriptler ve teknolojiyi hayatın merkezine alan dijital çözümler.</code></li>
				<li>**Siber Güvenlik:** Dijital kalemizi nasıl savunuruz? "Security by Design" felsefesiyle güvenli yapılar inşa etme ve güncel tehdit analizleri.</code></li>
				<li>**Yaşam & Hobiler:** Ekran başından uzaklaştığımda amatör telsizcilikle dünyayı dinliyor (73!), diecast modellerle detaylara odaklanıyor ve sporla disiplini koruyorum.</code></li>
				
			</ul>
			<p>
				Sinyalin her zaman güçlü, bağlantın her zaman güvenli olsun. Keyifli okumalar!
			</p>
			<p>
				Bana  <a href="https://www.linkedin.com/in/ey%C3%BCp-sevin%C3%A7tekin-es4/">Linkedin</a> üzerinden ulaşabilirsiniz.
			</p>
		</main>
		<Footer />
	</body>
</html>
